# Getter, Builder, ToString, Logging 제외 전부 비활성화
lombok.NoArgsConstructor.flagUsage = ERROR
lombok.RequiredArgsConstructor.flagUsage = ERROR
lombok.AllArgsConstructor.flagUsage = ERROR
lombok.EqualsAndHashCode.flagUsage = ERROR
lombok.Data.flagUsage = ERROR
lombok.Value.flagUsage = ERROR
lombok.NonNull.flagUsage = ERROR
lombok.Setter.flagUsage = ERROR
lombok.experimental.Accessors.flagUsage = ERROR
lombok.experimental.Wither.flagUsage = ERROR
lombok.experimental.FieldDefaults.flagUsage = ERROR
lombok.experimental.Helper.flagUsage = ERROR
lombok.experimental.UtilityClass.flagUsage = ERROR
